
<%= render partial: 'applicants_info' %>

<p>Pet(s) Applying for: </p>
<% @application.pets.each do |pet|%>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<%end%>
<br>

<div id="description">

  <% if @application.render_description? %>
    <%= render partial: 'form', locals: { path: "/applications/#{@application.id}/update",
                                          method: :patch,
                                          label: :description, 
                                          text: "Please describe why you would make a good home for this pet",
                                          button_text: 'Submit application'} %>
  <% end %>
  </div>

  <div id="search">
  <% if @application.render_search? %>

    <h3>Add a Pet to this Application</h3>

    <%= render partial: 'form', locals: { path: "/applications/#{@application.id}",
                                          method: :get,
                                          label: :search,
                                          text: 'Search for Pets',
                                          button_text: 'Search for Pet' }%>
    <% end %>
    </div>


  <div id="adoption">
  <% if @pets != nil %>
    <% @pets.each do |pet|%>
    <div id= "pet_<%=pet.id%>">
      <p><%= link_to "#{pet.name}", "/applications/#{pet.id}" %>
      <%= button_to "Adopt this Pet", "/pet_applications/#{@application.id}/#{pet.id}", local: true, method: :post %></div>
    <% end %>
  <% end %>
  </div>
