<div class="pets">
<h1>All pets</h1>

<%= link_to "Start an Application", "/applications/new" %>
<br>
<br>
<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<div class="container" > 
    <div class="row">

    
    <% @pets.each do |pet| %>

        <div class="col-md-3"> 
        <h5>Name:</h5> <p><%= pet.name %></p>
        
        <h5>Age:</h5> <p><%= pet.age %></p>
        
        <h5>Breed:</h5> <p><%= pet.breed %></p>
        
        <h5>Adoptable!</h5></p>
       
        <p><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
        <p><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit"%></p>
        <h5> You can find <%= pet.name %> at <%= pet.shelter_name %>! <h5>   
    </div>
  <%end %>
</div>


